/* ---------------------------------
 *         Responsive Layout
 * --------------------------------- */
+widescreen()
    .is-1-column .container, .is-2-column .container
        max-width: 95%
        width: 95%

+fullhd()
    .is-2-column .container
        max-width: 95%
        width: 95%

    .is-1-column .container
        max-width: 95%
        width: 95%

+tablet()
    .is-sticky
        position: -webkit-sticky
        position: sticky
        top: 1.5rem
        z-index: 99

    .column-main, .column-left, .column-right, .column-right-shadow
        &.is-sticky
            top: .75rem
            align-self: flex-start

+mobile()
    .section
        padding: 1.5rem 1rem
